.editor-page {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
  overflow: hidden;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #333;
  color: white;
  width: 200px;
  height: 100%;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.canvas {
  position: relative;
  border: 1px solid #ccc;
  background: white;
}

.canvas div {
  user-select: none; /* Отключаем выделение текста */
  cursor: grab; /* Курсор для перетаскивания */
}

.canvas div:active {
  cursor: grabbing; /* Меняем курсор во время перетаскивания */
}

